extends layout

block content
  h1= title
  - let results = [{bird_name:"Pigeon", color: "Blue", speed: 50},{bird_name:"Sparrow", color: "Brown", speed: 20},{bird_name:"Nightingale", color: "yellow", speed: 55}];

  div(class="container-fluid")
    div(class="row")
      each bird in results
        div(class="col-sm-2")
          p #{bird.bird_name}
          p #{bird.color}
          p #{bird.speed}